/* fonts */

@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

@font-face {font-family: "COCOGOOSE"; src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot"); src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg"); }

@import url(//db.onlinewebfonts.com/c/e080040fab017e068ee2901a6cdb5ec4?family=Lato);

@font-face {font-family: "Lato"; src: url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.eot"); src: url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.woff") format("woff"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.svg#Lato") format("svg"); }

.header-title,
.brand-text,
.section-title  {
  font-family: "COCOGOOSE";
}

.header-text,
.section-subtitle {
  font-family: "Lato";
}

.header-title {
  text-shadow: 2px 2px 8px #d3d3d3;
}
.header-text {
  text-shadow: 1px 1px 2px #d3d3d3;
}

.cc-orange-color {
  color: #ec5242;
}

.cc-dark-color {
  color: #272a31
}

.cc-gray-color {
  color: #d3d3d3
}

/* navbar */




/* header */

.header-home {
  background-position: center;
  background-size: cover;
  background-image: url("https://miro.medium.com/max/1200/1*TBSV23ud8tae3E4szI5EDA.jpeg");
}

/* feature section */

.level-bar {
  transform: rotate(90deg);
  font-size: 20px;
}

.card-secondary {
  line-height: 1em;
}

.card-feature {
  border-width: 4px;
}

/* Resources section */

.resources-container {
  padding: 200px 0;
  background-position: center;
  background-size: cover;
  background-image: url("https://edtechmagazine.com/higher/sites/edtechmagazine.com.higher/files/styles/cdw_hero/public/articles/%5Bcdw_tech_site%3Afield_site_shortname%5D/202002/aihero.jpg?itok=f2TWAOuP");
}
