/* fonts */

@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

@import url(//db.onlinewebfonts.com/c/e080040fab017e068ee2901a6cdb5ec4?family=Lato);

@font-face {
  font-family: "Lato";
  src: url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.eot");
  src: url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.woff") format("woff"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.svg#Lato") format("svg");
}

.header-title,
.brand-text,
.section-title {
  font-family: "COCOGOOSE", sans-serif;
}

.header-text,
.section-subtitle {
  font-family: "Lato", sans-serif;
}

.header-title {
  text-shadow: 2px 2px 8px #d3d3d3;
}

.header-text {
  text-shadow: 1px 1px 2px #d3d3d3;
}

.cc-orange-color {
  color: #ec5242;
}

.cc-dark-color {
  color: #272a31;
}

.cc-gray-color {
  color: #d3d3d3;
}

/* Index.html */

.header-home,
.resources-container,
.story-container,
.header-about {
  background-position: center;
  background-size: cover;
}

.header-sub {
  background-color: #d3d3d356;
}

.header-home {
  background-image: url("https://miro.medium.com/max/1200/1*TBSV23ud8tae3E4szI5EDA.jpeg");
}

.level-bar {
  transform: rotate(90deg);
  font-size: 20px;
}

.card-secondary {
  line-height: 1em;
}

.card-feature {
  border-width: 4px;
}

.resources-container {
  padding: 200px 0;
  background-image: url("https://edtechmagazine.com/higher/sites/edtechmagazine.com.higher/files/styles/cdw_hero/public/articles/%5Bcdw_tech_site%3Afield_site_shortname%5D/202002/aihero.jpg?itok=f2TWAOuP");
}

/* about.html */

.mission-container,
.students-container {
  margin: auto;
  border-radius: 20px;
}

.mission-container {
  background-image: linear-gradient(to bottom right, rgb(90, 219, 79), rgb(0, 255, 191));
  max-width: 450px;
}

.students-container {
  background-image: linear-gradient(to bottom right, rgb(106, 117, 216), rgb(197, 96, 184));
  max-width: 550px;
}

.jobs-container {
  padding: 100px 0;
  background-image: url("https://d125fmws0bore1.cloudfront.net/webpack/production/app/components/AboutUs/assets/bg-join-mission.jpg");
}

.story-container {
  padding: 100px 0;
  background-image: url("https://i.pinimg.com/originals/a9/95/f5/a995f5abc92c3d5a96618f5b986fcd2c.jpg");
}

.story-text-cont {
  background-color: #272a31da;
}

.header-about {
  background-image: url("https://www.simplilearn.com/ice9/free_resources_article_thumb/10-algorithms-machine-learning-engineers-need-to-know-article.jpg");
}
