/* fonts */

@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);

@font-face {
  font-family: "COCOGOOSE";
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

@import url(//db.onlinewebfonts.com/c/e080040fab017e068ee2901a6cdb5ec4?family=Lato);

@font-face {
  font-family: "Lato";
  src: url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.eot");
  src: url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.woff") format("woff"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e080040fab017e068ee2901a6cdb5ec4.svg#Lato") format("svg");
}

.header-title,
.brand-text,
.section-title {
  font-family: "COCOGOOSE", sans-serif;
}

.header-text,
.section-subtitle {
  font-family: "Lato", sans-serif;
}

.header-title {
  text-shadow: 2px 2px 8px #272a31;
}

.header-text {
  text-shadow: 1px 1px 2px #272a31;
}

* {
  color: #272a31;
}

.cc-orange-color {
  color: #ec5242;
}

.cc-gray-color {
  color: #d3d3d3;
}

.nav-dar-font {
  font-size: smaller;
}

/* Background */

.header-home,
.resources-container,
.story-container,
.header-about,
.features-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cc-bg-gray {
  background-color: #d3d3d3;
}

.cc-bg-gray-clear {
  background-color: #d3d3d396;
}

.cc-bg-dark {
  background-color: #272a31;
}

.cc-bg-orange {
  background-color: #ec5242;
}

.header-home {
  background-image: url("https://miro.medium.com/max/1200/1*TBSV23ud8tae3E4szI5EDA.jpeg");
  background-blend-mode: screen;
  padding-top: 50px;
}

.level-bar {
  transform: rotate(90deg);
  font-size: 20px;
}

.instructor__image {
  height: 96px;
  width: 96px;
}

.card-secondary {
  line-height: 1em;
}

.card-feature {
  border-width: 4px;
}

.resources-container {
  padding: 100px 0;
}

/* about.html */

.mission-container,
.students-container {
  margin: auto;
  border-radius: 20px;
}

.mission-container {
  max-width: 600px;
}

.students-container {
  max-width: 550px;
}

.jobs-container {
  padding: 100px 0;
  background-image: url("https://d125fmws0bore1.cloudfront.net/webpack/production/app/components/AboutUs/assets/bg-join-mission.jpg");
  background-color: rgb(255, 0, 0);
  background-blend-mode: darken;
}

.story-container {
  padding: 100px 0;
}

.story-text-cont {
  background-color: #272a31da;
}

.header-about {
  padding-top: 50px;
  padding-bottom: 120px;
}

/* courses */

.search-bar {
  position: fixed;
  overflow: auto;
}

.content-search {
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  margin-left: 25%;
}

.sidebar-heading {
  margin-top: 100px;
}
